<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
    
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://mtatest.ctssrz2bfct5.us-east-2.rds.amazonaws.com:3306/scenginev1</property>
        <property name="hibernate.connection.username">scengine</property>
        <property name="hibernate.dbcp.maxIdle">50</property>
        <property name="hibernate.connection.password">mtaAmiRomaGalGil</property>
		<property name="connection.pool_size">800</property>
		
		<!-- <property name="hbm2ddl.auto">update</property>  -->
		<property name="hibernate.show_sql">true</property>
 
        <!-- add classes to map from here -->
        <mapping class="org.IoT_Project.Scenario_Engine.Models.User" />
        <mapping class="org.IoT_Project.Scenario_Engine.Models.Customer" />
        <mapping class="org.IoT_Project.Scenario_Engine.Models.Vendor" />
        <mapping class="org.IoT_Project.Scenario_Engine.Models.Action" />
        <mapping class="org.IoT_Project.Scenario_Engine.Models.ActionEventProto" />
        <mapping class="org.IoT_Project.Scenario_Engine.Models.Device" />
        <mapping class="org.IoT_Project.Scenario_Engine.Models.Event" />
        <mapping class="org.IoT_Project.Scenario_Engine.Models.Product" />
        <mapping class="org.IoT_Project.Scenario_Engine.Models.Scenario" />
        <mapping class="org.IoT_Project.Scenario_Engine.Models.CaseGroup" />
        <mapping class="org.IoT_Project.Scenario_Engine.Models.Case" />
		<mapping class="utils.TypesCont" />
        <mapping class="DataBase.UserPK" />
        
    </session-factory>
</hibernate-configuration>