@import '../../scss/config';
@import '../../scss/base/all';
@import '../../scss/_modules';
@import '../../scss/_modifiers';



.container{
	margin: 0 auto;
	max-width: 900px;
	padding: 100px;
}
.devices{
	margin-top: 40px;
	list-style: none;
	padding: 0;
	&__item{
		position: relative;
		margin: 0 10px 10px 0;
		display: inline-block;
	}
	&__img{
		overflow: hidden;
		border: 1px solid $grey_3;
		border-radius: 10px;
		width: 100px;
		height: 100px;
	}
	&__name{
		margin-top: 10px;
		color:$grey_5;
		width:100px;
		padding: 5px;
		font-size: 12px;
		text-align: center;
	}
}



.IMG{
	&_1{
		background-size: 100%;
		background-image: url("1.png");		
	}
	&_2{
		background-size: 100%;
		background-image: url("2.png");		
	}
	&_3{
		background-size: 100%;
		background-image: url("3.png");		
	}




}
