@import '../../scss/config';
@import '../../scss/base/all';
@import '../../scss/modules';
@import '../../scss/modifiers';


form{
	border: 1px solid $grey_3;
	margin: auto;
	width : 360px;
	background: white;
	border-radius: 10px;
	position: relative;
	top: 80px;
	padding: 30px 50px 20px;
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);

	input{
		width: 100%;
	}
}


button[type="submit"]{
	margin-top: 50px ;
	margin-bottom: 60px;
}

header {
	margin-bottom: 60px;
	p{
		line-height: 1.4;
		letter-spacing: 1.5px;
		font-size: 24px;
	}
}
