
$grey_5 : #727895;
$grey_4 : #A5ABC5;
$grey_3	: #C9D0E1;
$grey_2	: #D7D9E0;
$grey_1 : #f7f7f7;

$red	: #FF3449;
$green	: #66FF99;
$blue 	: #0880ff;

$text 			: $grey_5 ;
$text--light 	: $grey_4 ;
$text--lightest : $grey_3 ;


$font--main : 'Roboto';
$font_2 	: 'Montserrat';
$font_3 	: 'Karla';
$font_4 	: 'Open Sans';

